@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #4716BA;
}

.container{
    width: 100%;
    height: 8vh;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #4716BA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    text-decoration: none;
    list-style: none;
    margin-right: 1.5vh;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 1.5rem;
}

.logo{
    font-size: 1rem;
}

.nav_links{
    display: flex;
    justify-content: right;
    width: 50%;

}

.nav_links li{
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 0.5rem;
}

.btn1{
    font-weight: 900;
    margin-left: 2.5rem;
}